/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: white;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-family: 'Quicksand', sans-serif;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@font-face
{
   font-family: "Futura";
   src: url("../fonts/futura_light.ttf") format("truetype"),
}

@font-face
{
   font-family: "Beba";
   src: url("../fonts/bebas_light.ttf") format("truetype"),
}

 //Here is the flag of idioms
.idiom{
  width: 3em;
  height: 3em;
}

//----------------------

//home
#home {
text-align: center;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 7%;
}

#home .social {
display: block;
margin: 4% 16%;
}


/* ------- Botón naranja de ver mas */
.contenedor{
  width:90px;
  height:240px;
  position:absolute;
  right:0px;
  bottom:0px;
  z-index: 1000;
}
.botonF1{
  width:30px;
  height:30px;
  border-radius:100%;
  background:#F44336;
  opacity: 0.8;
  right:0;
  bottom:0;
  position:fixed;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
span{
  transition:.5s;  
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}
.animacionVer{
  transform:scale(1);
}
/*--------------*/

/* =============================================================
FONT-SIZE
============================================================ */

.vinculo-main {
  font-family: Beba;
  letter-spacing: 0.4em;
  color: white; 
  opacity: 0.95;
  font-size: 110%;
  }

 .big-font {
  font-size: 750%;
  color: white;
  font-family: Beba;
  letter-spacing: 0.3em;
 }
  .medium-font {
  font-size: 500%;
  font-family: Beba;
  letter-spacing: 0.4em;
  color: red; 
  opacity: 0.8;
 }

@media screen and (max-width: 1200px) { 
  .big-font{
    font-size: 700%;
  }
  .medium-font{
    font-size: 450%;
  }
}

@media screen and (max-width: 1100px) { 
  .big-font{
    font-size: 650%;
  }
  .medium-font{
    font-size: 400%;
  }
}

@media screen and (max-width: 1000px) { 
  .big-font{
    font-size: 600%;
  }
  .medium-font{
    font-size: 350%;
  }
}

@media screen and (max-width: 950px) { 
  .big-font{
    font-size: 550%;
  }
  .medium-font{
    font-size: 300%;
  }
}

@media screen and (max-width: 900px) { 
  .big-font{
    font-size: 500%;
  }
  .medium-font{
    font-size: 250%;
  }
}

@media screen and (max-width: 850px) { 
  .big-font{
    font-size: 400%;
  }
  .medium-font{
    font-size: 200%;
  }
  #home{
    margin-top: 10%;
  }
}

@media screen and (max-width: 800px) { 
  .big-font{
    font-size: 350%;
  }
  .medium-font{
    font-size: 150%;
  }
  #home{
    margin-top: 10%;
  }
}

@media screen and (max-width: 700px) { 
  .big-font{
    font-size: 300%;
  }
  .medium-font{
    font-size: 120%;
  }
  #home{
    margin-top: 15%;
  }
}

@media screen and (max-width: 600px) { 
  .big-font{
    font-size: 250%;
  }
  .medium-font{
    font-size: 100%;
  }
  #home{
    margin-top: 20%;
  }
}

@media screen and (max-width: 500px) { 
  .big-font{
    font-size: 250%;
  }
  .medium-font{
    font-size: 100%;
  }
  #home{
    margin-top: 25%;
  }
}

/* =============================================================
GOOGLE FONT
============================================================ */

@import url(http://fonts.googleapis.com/css?family=Ubuntu); /* FREE GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=Oswald); /* FREE GOOGLE FONT */



/* =============================================================
GENERAL STYLES
============================================================ */
body {
font-family: 'Ubuntu', sans-serif;
color: #fff;
}

section {
padding-top: 80px;
padding-bottom: 40px;
}

.pad-bottom {
padding-bottom: 60px;
}

.header {
font-family: 'Oswald', sans-serif;
padding-bottom: 40px;
text-transform: uppercase;
}

.header hr {
width: 50px;
border-top: 2px solid rgb(228, 79, 79);
}

/* =============================================================
CUSTOM BUTTON STYLES
============================================================ */
.button-custom {
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
margin: 25px 5px 5px 0px;
margin: 5px;
}

.btn-custom-one {
background-color: transparent;
color: #fff;
border: 2px solid rgb(228, 79, 79);
}

.btn-custom-one:hover {
background-color: rgb(228, 79, 79);
text-decoration: none;
color: #fff;
}

.btn-custom-two {
color: #fff;
background-color: rgb(228, 79, 79);
border: 2px solid rgb(228, 79, 79);
}

.btn-custom-two:hover {
border: 2px solid rgb(228, 79, 79);
text-decoration: none;
color: #fff;
background-color: transparent;
}


.btn-custom-three {
opacity: 0.6;
color: #fff;
background-color: rgb(228, 79, 79);
border: 2px solid rgb(228, 79, 79);
}

.btn-custom-three:hover {
opacity: 0.9;
border: 2px solid rgb(228, 79, 79);
text-decoration: none;
color: #fff;
background-color: black;
}


/* =============================================================
MENU SECTION STYLES
============================================================ */
.navbar-inverse {
background-color: rgba(0, 0, 0, 0.4);
border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: transparent;
border-bottom: 1px solid rgb(228, 79, 79);
}

.navbar-inverse .navbar-nav > li > a {
font-size: 12px;
font-weight: 800;
padding: 5px 0px;
letter-spacing: 2px;
margin: 10px 20px 10px 20px;
color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
color: #fff;
font-weight: 900;
font-family: 'Oswald', sans-serif;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: rgb(228, 79, 79);
}
.navbar-inverse .navbar-toggle {
border-color: rgb(228, 79, 79);
}

/*============================
TEAM SECTION STYLES
==============================*/


.team-wrapper {
overflow-x: hidden;
position: relative;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transform: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
margin-bottom:30px;
opacity: 0.8;
}
.team-wrapper:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
opacity: 1;
}
.team-wrapper .team-inner {
background-size: cover;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
padding: 150px 0 10px;
/*background-image: url('../img/girl-big.jpg');*/
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
border-radius: 10px 10px 0px 0px;
}

.team-wrapper > .team-inner > a {
color: rgb(228, 79, 79);
width: 80px;
height: 80px;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
margin: 0 auto -50px;
display: block;
color: white; //#006bfa; //here is twitter icon
opacity: 0.85;
z-index: 999;
font-size: 40px;
padding: 15px 22px;
background-color: transparent;
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}

.team-wrapper > .team-inner > a:hover {
color: #fff;
text-decoration: none;
background-color: black;
}


.team-wrapper .description {
padding: 30px 20px 20px;
text-align: center;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
background-color: rgba(0, 0, 0, 0.4);
}

/*
.team-wrapper .description:hover {
background-color: transparent;
}*/

.team-wrapper .description h5 {
color: #4fedff;
}


/*============================
CONTACT SECTION STYLES
==============================*/

#contact .contact-wrapper {
background-color: rgba(0, 0, 0, 0.3);
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
min-height:200px;
color: white;
}
#contact .contact-wrapper h3 {
color:#4fedff; //Titulo de contact
}
#contact .social-below {
display: block;
margin-top: 5px;
}
.footer-div {
padding-top:25px;
}
.footer-div a,.footer-div a:hover {
font-size:10px;

color:#fff;
text-decoration:none;
}

.btn-custom-four {
color: black;
background-color: #4fedff;
border: 2px solid #4fedff;
opacity: 0.9;
}

.btn-custom-four:hover {
border: 2px solid #4fedff;
text-decoration: none;
color: #fff;
background-color: transparent;
}

/*-------------------------*/

video#demo { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../videos/2.mp4) no-repeat;
    background-size: cover;
    opacity: 0.6; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(../videos/2.jpg) #000 no-repeat center center fixed;
    }
    #demo {
        display: none;
    }
}


.idk {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

body {
  padding-top:0px;
  padding-bottom: 0px;
  background-color: white;
}

.btn-secondary { 
  color: #ffffff; 
  background-color: black; 
  border-color: #555; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary{ 
  color: #ffffff; 
  background-color: #888; 
  border-color: #444;}

.btn-custom-two {
color: #fff;
background-color: rgb(228, 79, 79);
border: 2px solid rgb(228, 79, 79);
}

.btn-custom-two:hover {
border: 2px solid rgb(228, 79, 79);
text-decoration: none;
color: #fff;
background-color: transparent;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0em 0;
}

.thumbnail {
  height: 200px;
  text-align: center;
  background-color: transparent;

  img.pull-right {
    width: 50px;
  }
}

.container-top {
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.navbar-space {
  padding-top: 1px;
  background-color: white;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
