#web-section{
  background-color: transparent;
}

.adapting{
  width: 110%;
  height: 100%;
}

.box-shadow{
  opacity: 0.5;
  height: 15em;
}
/*
.small-box-shadow{
  opacity: 0.4;
  height: 5em;
}*/

.big-font-web{
  font-family: Beba;
  color: black;
  font-size: 12.5rem;
  letter-spacing: 0.4em;
  margin-left: 30px;
  margin-top: -30px;
}

@media screen and (max-width: 1200px) { 
  .big-font-web{
    font-size: 11rem;
  }
}

@media screen and (max-width: 1100px) { 
  .big-font-web{
    font-size: 10.5rem;
  }
}

@media screen and (max-width: 1000px) { 
  .big-font-web{
    font-size: 10rem;
  }
}

@media screen and (max-width: 950px) { 
  .big-font-web{
    font-size: 9.5rem;
  }
}

@media screen and (max-width: 900px) { 
  .big-font-web{
    font-size: 9rem;
  }
}

@media screen and (max-width: 850px) { 
  .big-font-web{
    font-size: 8rem;
  }
}

@media screen and (max-width: 800px) { 
  .big-font-web{
    font-size: 7rem;
  }
}

@media screen and (max-width: 700px) { 
  .big-font-web{
    font-size: 6rem;
  }
}

@media screen and (max-width: 600px) { 
  .big-font-web{
    font-size: 5rem;
  }
}

@media screen and (max-width: 500px) { 
  .big-font-web{
    font-size: 4rem;
  }
}
