<section id="web-section">
  <nav class="navbar navbar-default navbar-fixed-top navbar-space" style="background-color: black; opacity: 0.9;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a ui-sref="home1" class="navbar-brand ion-ios-arrow-back" style="color: white;"> Home</a>
      </div>
    </div>
  </nav>
  <div class="big-font-web">
    <p id="dev" style="color: blue; opacity: 0.9;">Desarrollo</p>
    <p id="design" hidden="true" style="color: blue; opacity: 0.9;">Diseño</p>  
    <div class="row">
      <div class="col-md-4">
      <p style="color: red;" class="red-bye" hidden="true"><small> web</small></p>
      </div>
    </div>
    <span class="rotate1" style="color: black; opacity: 0.8"> Inteligente/ Creativo/ Moderno/ Elegante</span>
  </div>

  <div class="row">
    <div class="col-md-3 box-shadow"><img src="/assets/images/notfound.png" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/4.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/5.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/1.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/4.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/5.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
  </div>
</section>