<section id="portfolio">
  <nav class="navbar navbar-default navbar-fixed-top navbar-space" style="background-color: black; opacity: 0.6;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a ui-sref="home1" class="navbar-brand ion-ios-arrow-back" style="color: white;"> Home</a>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/1.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/4.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/5.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/1.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/4.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/5.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-1 small-box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
  </div>

  <div class="row">
    <div class="col-md-12 big-box"></div>
  </div>

  <div class="row">
    <div class="col-md-3 box-shadow"><img src="/assets/images/notfound.png" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/4.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/5.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/1.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/4.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/5.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/3.jpg" class="adapting"></div>
    <div class="col-md-3 box-shadow"><img src="/assets/images/team/2.jpg" class="adapting"></div>
  </div>
  <div class="row">
    <div class="col-md-12 big-box"></div>
  </div>
</section>