<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hola" href="#">
          <i class="ion-ios-game-controller-b-outline"> </i> NIKK
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="idiom"><a ui-sref='home2'><img src="../../assets/images/united-states.png" style="width: 900%; height:900%;"></a></li>
          
          <li class="dropdown" id="dropdown-service">
            <a class="dropdown-toggle" id="dropdown-toggle-service" style="background-color: transparent;" data-toggle="dropdown">
              Servicios <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="dropdown-menu-service" style="background-color: rgba(0, 0, 0, 0.5);;">
              <li><a href="" ui-sref="web-section" style="color: black;">WEB</a></li>
              <li><a href="" style="color: black;">MÓVIL</a></li>
              <li><a href="" style="color: black;">2D</a></li>
            </ul>
          </li>

          <li><a ui-sref="portfolio">Portafolio</a></li>

          <li class="dropdown" id="dropdown-we">
            <a class="dropdown-toggle" id="dropdown-toggle-we" style="background-color: transparent;" data-toggle="dropdown">
              Nosotros <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="dropdown-menu-we" style="background-color: rgba(0, 0, 0, 0.5);;">
              <li><a href="" style="color: black;">Que hacemos</a></li>
              <li><a href="" style="color: black;">Nuestro Blog</a></li>
              <li><a href="" style="color: black;">Fotos</a></li>
            </ul>
          </li>

          <li><a href='#team' class="scrollTo">The Team</a></li>
          <li><a href='#contact' class="scrollTo">Contacto</a></li>
          <li><a href="#signup" ng-hide="isConnected()" ui-sref="session">Sesión</a></li>
          <li><a href="#logout" ng-show="isConnected()" ng-click="Logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--HOME SECTION START-->
  <div id="home">
    <!--VIDEO-->
    <p class="big-font">SUEÑA CADA DÍA</p>
    <p class="medium-font">PERSIGUE TUS SUEÑOS</p>
    <p class="big-font">SUEÑA HOY</p>
    <p><i class="ion-arrow-down-c"></i></p>
    <div class="small-font">
      <strong> 
        <a ui-sref="web-section" class="vinculo-main" style="text-decoration: none;">web |</a>
        <a href="" class="vinculo-main" style="text-decoration: none;"> móvil |</a> 
        <a href="" class="vinculo-main" style="text-decoration: none;"> 2d</a>
      </strong>
    </div>
    <br>
    <video autoplay loop class="embed-responsive-video" id="demo" onloadstart="this.volume=0.00000001">
      <source src="../../videos/1.mp4" type="video/mp4">
    </video>
    <!--end video-->
    <div class="row animate-in" data-anim-type="fade-in-up">        
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me" style="text-align: center;">
        <p>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').play()"><i class="ion-play"></i></a>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').pause()"><i class="ion-pause"></i></a>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').volume+=0.1"><i class="
        ion-ios-arrow-up"></i></a>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').volume-=0.1"><i class="ion-ios-arrow-down"></i></a>
        </p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="social">
        <h3>SOMOS SOCIALES</h3>
        <a href="https://www.facebook.com/luis.machillanda.39" class="btn button-custom btn-custom-one" ><i class="ion-social-facebook"></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-twitter"></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-googleplus"></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-linkedin "></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-pinterest "></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-github "></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-instagram "></i></a>
      </div>

      <!--button orange-->
      <div class="contenedor">
        <button class="botonF1" data-toggle="modal" data-target="#myModal">
          <span>+</span>
        </button>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content" style="color: black;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Te enviamos un saludo</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--HOME SECTION END-->

<!--TEAM SECTION START-->
<section id="team">
  <div class="container">
    <div class="row text-center header animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>El equipo</h3>
        <hr/>
      </div>
    </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/1.jpg')" >
            <a href="https://twitter.com/NoSoyMozart" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Luis Machillanda</h3>
            <h5> <strong> Desarrollador, Diseñador & CEO </strong></h5>
            <strong>
              Desarrollador Full stack, Ruby lover y AngularJS fan, creativo and perserverante.
            </strong>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/2.jpg')" >
            <a href="#" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Leomarid Jona</h3>
            <h5> <strong> Developer & Designer </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/3.jpg')" >
            <a href="#" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Leomarid Jona</h3>
            <h5> <strong> Developer & Designer </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/4.jpg')" >
            <a href="#" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Leomarid Jona</h3>
            <h5> <strong> Developer & Designer </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--TEAM SECTION END-->

<!--CONTACT SECTION START-->
<section id="contact">
  <div class="container">
    <div class="row text-center header animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Detalles de contacto</h3>
        <hr/>
      </div>
    </div>

    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="contact-wrapper">
          <h3 style="text-align: center;">Somos sociales</h3>
          <p>
            Nos gusta comunicarnos, y sabemos que a ti también...
          </p>
          <div class="social-below">
            <a href="https://www.facebook.com/luis.machillanda.39" class="btn button-custom btn-custom-four" > Facebook</a>
            <a href="#" class="btn button-custom btn-custom-four" > Twitter</a>
            <a href="#" class="btn button-custom btn-custom-four" > Google +</a>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="contact-wrapper">
          <h3 style="text-align: center;">Contacto Rápido</h3>
          <h4><strong>Correo : </strong> nikko1801@gmail.com </h4>
          <h4><strong>Teléfono: : </strong> +58-412-097-47-92 </h4>
          <h4><strong>Skype : </strong> Nikkkolml </h4>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="contact-wrapper">
          <h3 style="text-align: center;">Dirección</h3>
          <h4>1090, Caracas - Dtto. Capital , </h4>
          <h4>Venezuela</h4>
          <div class="footer-div" >
            &copy; 2016 nikkstudio.com | by Luis Machillanda
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CONTACT SECTION END-->
</div>