  <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hola" href="#">
          <i class="ion-ios-game-controller-b-outline"> </i> NIKK
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="idiom"><a ui-sref='home1'><img src="../../assets/images/spain.png" style="width: 900%; height:900%; opacity: 0.7;"></a></li>
          <li><a href='#job' class="scrollTo">What do we do?</a></li>
          <li><a ui-sref="portfolio">Portfolio</a></li>
          <li><a href='#team' class="scrollTo">About Us</a></li>
          <li><a href='#contact' class="scrollTo">Contact</a></li>
          <li><a href="#signup" ng-hide="isConnected()" ui-sref="session">Sign In</a></li>
          <li><a href="#logout" ng-show="isConnected()" ng-click="Logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  <section id="home">
  <!--HOME SECTION START-->
  <div style="margin-top: 7%">
    
    <!--VIDEO-->
    <p class="big-font">DREAM EVERYDAY</p>
    <p class="medium-font" style="color: red; opacity: 0.8;">FOLLOW YOUR DREAMS...</p>
    <p class="big-font">DREAM TODAY</p>
    <div class="small-font">
      <strong> 
        <a ui-sref="web-section" class="vinculo-main" style="text-decoration: none;">web |</a>
        <a href="" class="vinculo-main" style="text-decoration: none;"> mobile |</a> 
        <a href="" class="vinculo-main" style="text-decoration: none;"> 2d</a>
      </strong>
    </div>
    <br>
    <video autoplay loop class="embed-responsive-video" id="demo" onloadstart="this.volume=0.00000001">
      <source src="../../videos/1.mp4" type="video/mp4">
    </video>
    <!--end video-->

    <div class="row animate-in" data-anim-type="fade-in-up">        
      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me" style="text-align: center;">
        <p>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').play()"><i class="ion-play"></i></a>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').pause()"><i class="ion-pause"></i></a>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').volume+=0.1"><i class="
        ion-ios-arrow-up"></i></a>
        <a class=" btn button-custom btn-custom-three" onclick="document.getElementById('demo').volume-=0.1"><i class="ion-ios-arrow-down"></i></a>
        </p>
      </div>
      <br><br><br><br>
      <div class="social">
        <h3>WE ARE SOCIAL</h3>
        <a href="https://www.facebook.com/luis.machillanda.39" class="btn button-custom btn-custom-one" ><i class="ion-social-facebook"></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-twitter"></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-googleplus"></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-linkedin "></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-pinterest "></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-github "></i></a>
        <a href="#" class="btn button-custom btn-custom-one" ><i class="ion-social-instagram "></i></a>
      </div>
    </div>
  </div>
  </section>
  <!--HOME SECTION END-->

<!--TEAM SECTION START-->
<section id="team">
  <div class="container">
    <div class="row text-center header animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>The Team</h3>
        <hr/>
      </div>
    </div>
    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/1.jpg')" >
            <a href="https://twitter.com/NoSoyMozart" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Luis Machillanda</h3>
            <h5> <strong> Developer, Designer & CEO </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/2.jpg')" >
            <a href="#" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Leomarid Jona</h3>
            <h5> <strong> Developer & Designer </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/3.jpg')" >
            <a href="#" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Leomarid Jona</h3>
            <h5> <strong> Developer & Designer </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="team-wrapper">
          <div class="team-inner" style="background-image: url('../../assets/images/team/4.jpg')" >
            <a href="#" target="_blank" > <i class="ion-social-twitter" ></i></a>
          </div>
          <div class="description">
            <h3> Leomarid Jona</h3>
            <h5> <strong> Developer & Designer </strong></h5>
            <strong>
              Full stack developer, Ruby lover and AngularJS fan, creative and perserverant.
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--TEAM SECTION END-->

<!--CONTACT SECTION START-->
<section id="contact">
  <div class="container">
    <div class="row text-center header animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Contact Details </h3>
        <hr/>
      </div>
    </div>

    <div class="row animate-in" data-anim-type="fade-in-up">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="contact-wrapper">
          <h3 style="text-align: center;">We Are Social</h3>
          <p>
            Nos gusta comunicarnos, y sabemos que a ti también...
          </p>
          <div class="social-below">
            <a href="https://www.facebook.com/luis.machillanda.39" class="btn button-custom btn-custom-four" > Facebook</a>
            <a href="#" class="btn button-custom btn-custom-four" > Twitter</a>
            <a href="#" class="btn button-custom btn-custom-four" > Google +</a>
          </div>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="contact-wrapper">
          <h3 style="text-align: center;">Quick Contact</h3>
          <h4><strong>Email : </strong> nikko1801@gmail.com </h4>
          <h4><strong>Call : </strong> +58-412-097-47-92 </h4>
          <h4><strong>Skype : </strong> Nikkkolml </h4>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="contact-wrapper">
          <h3 style="text-align: center;">Address : </h3>
          <h4>1090, Caracas - Dtto. Capital , </h4>
          <h4>Venezuela</h4>
          <div class="footer-div" >
            &copy; 2016 nikkstudio.com | by Luis Machillanda
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--CONTACT SECTION END-->

</div>