<div class="container-fluid" ng-hide="IsConnected()">
  <nav class="navbar navbar-default navbar-fixed-top navbar-space">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand glyphicon-remove-sign" href="#">GoHome!</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <h1 style="margin-top: 70px; text-align: center;">404 not found</h1>
    <img src="../assets/images/notfound.png">
  </div>
</div>

<div class="container-fluid" ng-show = "IsConnected()" ng-init="GetUser()">
  <nav class="navbar navbar-default navbar-fixed-top navbar-space">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand glyphicon-star" ui-sref="home">{{currentUser.name}}</a></li>
          <li><a class="navbar-brand glyphicon-remove-sign" ui-sref="home" ng-click="Logout()">Logout</a></li>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid" style="margin-top: 70px;">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-6 col-md-3" style="background-color: #FF8000">
          <a href="#" class="thumbnail">
            <img src="../assets/images/gulp.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-9">
          <a class="thumbnail">
          </a>
        </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 70px;">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-6 col-md-3" style="background-color: #009FDF">
          <a href="#" class="thumbnail">
            <img src="../assets/images/gulp.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-9">
          <a  class="thumbnail">
          </a>
        </div>
    </div>
  </div>


  <div class="container-fluid" style="margin-top: 70px;">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-6 col-md-3" style="background-color: #FF8000">
          <a href="#" class="thumbnail">
            <img src="../assets/images/gulp.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-9">
          <a class="thumbnail">
          </a>
        </div>
    </div>
  </div>
</div>