<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top navbar-space">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a ui-sref="home1" class="navbar-brand ion-ios-arrow-back"> Home</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div style="margin-top: 10%">
    <div class="col-sm-6 col-sm-offset-3 form-box">
      <form>
        <div class="alert alert-danger">
          <h7> Ingrese sus datos</h7>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon ion-ios-email"></span>
            <input type="text" class="form-control" placeholder="Email / Correo" aria-describedby="basic-addon1" ng-model="session.email">
          </div>
        </div>
        <input type="password" class="form-control" placeholder="Password / Contraseña" aria-describedby="basic-addon1" ng-model="session.password">
      </form>
      <br>
      <form>
        <p><span ng-click="Access()"><button type="button" class="btn button-custom btn-custom-two">Inicia sesión</button></span></p>
      </form>
      <div class="text-center">
        <h5 style="color: black;">Aun no estas registrado? <a ui-sref="register">¡Registrate!</a></h5>
      </div>
    </div>
  </div>
</div>