<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Ionic</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ui-sref="app.about" menu-close>About</ion-item>
        <ion-item ui-sref="app.films" menu-close>Films</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <!-- Main content-->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--here is the content-->
    <ion-nav-view name="content">
    </ion-nav-view>

  </ion-side-menu-content>
</ion-side-menus>