<ion-view>
  <ion-content>
    <h3>About</h3>
    <h5>Aprendiendo Ionic</h5>
    <ion-list>
      <ion-item>ui-router</ion-item>
      <ion-item>templates</ion-item>
      <ion-item>controllers</ion-item>
      <ion-item>services</ion-item>
      <ion-item>directives</ion-item>
      <ion-item>styles</ion-item>
      <ion-item>and much more</ion-item>
    </ion-list>
  </ion-content>
</ion-view>