<ion-view view-title="Films">
  <ion-content>
    <ion-list>
      <ion-item ui-sref='app.films-detail'>Film 1</ion-item>
      <ion-item>Film 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>